[Unit]
Description=DWM Bar written in Rust

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/home/ashwin/.cargo/bin/rsbar

[Install]
WantedBy=multi-user.target